.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 0rem;
  }
  
  .home .image {
    flex: 1 1 45rem;
    padding-left: 6rem;
    padding-bottom: 10rem;
  }
  
  .home .image img {
    width: 100%; 
    max-width: 30rem; 
    border-radius: 50px;
  }
  
  .home .content {
    flex: 1 1 45rem;
    padding-bottom: 10rem;

  }
  
  .home .content h3 {
    font-size: 4.5rem;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
  }
  
  .home .content p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
  }
  