.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 10px;   
    
  }
  
  .landing-page h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .landing-page p {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .landing-page a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: #0077c2;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .landing-page a:hover {
    background-color: #005ea1;
  }
  
.popup-form {
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(50%, -49%);
  background-color: white;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 999;
  width: 350px;
  max-height: 100%;
  height: 620px;
  border-radius: 20%;
  margin-left: 150px;

}
.landing-page h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.landing-page h1 span {
  display: inline-block;
  animation: wave 0.5s ease-in-out infinite;
  color: #1FAB89;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px) rotate(-5deg);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px) rotate(5deg);
  }
  100% {
    transform: translateY(0);
  }
}





  
  
  
  .popup-form h3 {
    font-size: 2rem;
    margin-bottom: 0rem;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .popup-form label {
    display: block;
    margin-bottom: 0rem;
  }
  
  .popup-form input[type="text"],
  .popup-form input[type="email"],
  .popup-form input[type="tel"],
  .popup-form input[type="password"] {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    transition: border-color 0.2s ease-in-out;
  }
  
  .popup-form input[type="text"]:focus,
  .popup-form input[type="email"]:focus,
  .popup-form input[type="tel"]:focus,
  .popup-form input[type="password"]:focus {
    border-color: #0077c2;
    outline: none;
  }
  
  .popup-form button[type="submit"] {
    display: block;
    margin-top: 0rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1FAB89;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 20px;
  }
  
  .popup-form button[type="submit"]:hover {
    background-color: #fff;
    color: black;
  }
  .popup-content {
    padding: 40px;
    max-width: 600px;
  }
  