.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.container input[type="file"] {
  display: none;
}

.container img {
  max-width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.container p {
  font-size: 18px;
}
